* {
    margin: auto;
    padding: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.part1 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
}

.head-nav-menu{
    position: absolute;
    top: 0;
    left: 55%;
    width: 40%;
    padding: auto;
    z-index: 1000;
}

.head-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 200px;
    font-size: 0.9em;
}

.head-nav-item {
    font-family: sans-serif;
    color: white;
}

.head-nav-item-menu-button {
    height: 2px;
    width: 25px;
}

.part1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1.0;
}

.video1-title {
    position: absolute;
    left: 25%;
    top: 40%;
    z-index: 100;
    color: white;
    font-size: 6.5em;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

.part3-block1{
    position: absolute;
    left: 3%;
    padding: 2%
}

.part3-title1 {
    font-size: 1.5em;
    font-family: 'Times New Roman';
    font-weight: 5;
}

.part3-title2 {
    font-size: 1.2em;
    font-weight: 1;
}

.part3-title3{
    display: block;
    padding: 5% 0 0 0;
    font-family:sans-serif;
    color: gray;
}