@import url(//db.onlinewebfonts.com/c/e20953cc1e4a860f83954b5da07b4243?family=GT+Sectra+Book);
@import url(//db.onlinewebfonts.com/c/a9db6cd9116ff56da3875b35444f0c45?family=GothamBook);
@import url(//db.onlinewebfonts.com/c/bbb0e26c14f79333dad33f3ed785580c?family=MessinaSansMonoWeb);

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: auto;
}

.part-one{
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    min-height: auto;
    z-index: auto;
}

.logo :any-link{
    position: absolute;
    top: 6%;
    left: 10%;
    height: 100px;
    width: 40%;
    padding: auto;
    z-index: 1000;
}

.head-nav-menu {
    position: absolute;
    top: 4%;
    left: 50%;
    width: 40%; 
    z-index: 1000; 
}

.head-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
}

.head-nav-item :any-link {
    font-family: 'GothamBook';
    font-size: .95em;
    text-decoration: none;
    color: white;
}

.head-nav-item :hover {
    text-decoration: underline;
    text-underline-position: inherit;
}

.head-nav-item-menu-button {
    height: 2px;
    width: 25px;
}

.part1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1.0;
}

.video1-title {
    position: absolute;
    font-family: 'GT Sectra Book';
    left: 25%;
    top: 40%;
    color: white;
    font-size: 6.2em;
    font-weight: 1;
    line-height: .8;
}

.container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.bar3 {
    width: 15px;
    height: 2px;
    background-color: white;
    margin: 4px 10px;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.part2 {
    position: relative;
    padding: 8% 6% 9% 6%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px)  {
    .part2 {
        flex-direction: column;
    }   
}

.part2-block1-1 {
    padding: 0 0 16% 10%;
}



.part2-title1 {
    font-family: 'GT Sectra Book';
    font-size: 2.5em;
    font-weight: 1;
}

.part2-title2 {
    font-size: 2.5em;
    font-family: 'GothamBook';
    font-weight: 100;
}

.part2-block1-context {
    font-family:sans-serif ;
    padding: 3% 0 6% 0;
    color: #777;
    font-size: 1em;
    text-align: left;
    font-weight: 100;
    line-height: 2em;
}

.part3 {
    position: relative;
}

.part3-block1{
    left: 3%;
    padding: 0% 0% 0 11%;
}

.part3-title1 {
    font-size: 1.6em;
    font-family: 'Times New Roman';
    font-weight: 5;
}

.part3-title2 {
    font-size: 1.3em;
    font-family: 'GothamBook';
    font-weight: 1;
}

.part3-title3{
    display: block;
    padding: 2% 0 2% 0;
    font-family:sans-serif;
    color: gray;
    line-height: 2em;
}

.part3-block2-img1 {
    position:absolute;
    left: 4%;
    width: 5%;
    height: 75%;
}

.slider-container {
    padding-left: 12%;
    box-sizing: border-box;
    width: 1500px;
    height: 750px;
    
}

.slide-images {
    display: flex;
}

.img {
    padding-right: 2%;
}

.part6 {
    background-color: #161f1e;
    width: auto;
    height: auto;
}

.footers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%
}

.footer-part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.footer-context {
    padding-top: 100%;
    color: white;
}

.foot-nav-item :any-link {
    text-decoration:none;
    color: white;
}

.foot-nav-item-three :any-link {
    text-decoration:none;
    color: white;
    text-decoration: underline;
}


.foot-nav-item:hover {
    text-decoration: underline;
}

.foot-nav-item-two :any-link  {
    text-decoration: none;
    color: white;
}

.foot-nav-item-two :hover {
    text-decoration:underline;
}

.foot-nav-item1 {
    color: white;
}